#fid{
    background-image: url(https://scontent.xx.fbcdn.net/v/t1.15752-9/322382490_717949243220304_4768603358230966400_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=aee45a&_nc_ohc=czW271_MhcwAX8mIo2q&_nc_oc=AQmL83AIIyAtIB8V2LDutDcdGXLIvyvsRO8al1w--8S1-oKaOIlqA4sfbzoad-AfgeeC6g0p3vr8y9iUrLEa1WT7&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=03_AdQoXCzVVZ7lirDFCiDyum_ab_eO3EnVK3U7oaJ7GFRNrA&oe=644D6CD8);
    background-size: cover;
    /* background-position: ; */
    width: 200vh;
    height: 70vh   

}
#we{
    color: 
    #132323;
    font-size: xx-large; 

}
#search{
    display: flex;
    justify-content: center;
    margin-top: 250px;
    margin-right: 400px; 
}
#recherche{
    width: 750px;
    height: 50px;
}
#icon_search{
    height: 20px;
    width: 20px;
}
#button{
    width: 200px;
}
